<%= render 'partials/errors', obj: @timesheet %>
<section class="timesheet-uuid container px-4 sm:px-10" id="<%= @timesheet.uuid %>">
  <div class="inline-flex w-full">
    <h1 id="date" class="gothic-neo px-8 py-8 text-gray-600 text-3xl tracking-wide w-2/3"><%= @timesheet.date %></h1>
    <span class="form-status float-right text-gray-500 tracking-wide py-8 w-1/3"></span>
  </div>
  <h2 class="helvetica font-light px-8 text-gray-700 text-lg italic tracking-wide">What are you going to do today?</h2>
  <form id="timesheet" class="flex" data-remote="true">
    <div class="w-1/5 current-column time-column" id="timecolumn-1">
      <% if @timesheet.timeblock != nil %>
        <% @timesheet.timeblock.each do |key, value| %>
          <div class="border-blue-400 border-l-2 time-block my-12">
            <div class="pl-2">
              <input value="<%= @timesheet.timeblock[key]["time_start"] %>" class="time-start gothic-neo" type="text" name="timesheet[time_start]" id="timesheet_time_start">
            </div>
            <div class="pl-4 py-4 gothic-neo">
              <textarea placeholder="Task at hand" rows="3" class="task-body gothic-neo p-2 tracking-wide text-gray-800" name="timesheet[task_body]" id="timesheet_task_body"><%= @timesheet.timeblock[key]["task_body"] %></textarea>
            </div>
            <div class="pl-2">
              <input value="<%= @timesheet.timeblock[key]["time_last"] %>" class="time-last time-last-init time-block-last gothic-neo" type="text" name="timesheet[time_last]" id="timesheet_time_last">
            </div>
          </div>
        <% end %>
      <% else %>
        <%= render 'partials/timeblock' %>
      <% end %>
      <button class="flex ml-8 mt-8 mb-32 w-48" id="add-block-button">
        <div class="bg-gray-400 h-8 relative w-8" id="plus-sign"></div>
        <span class="time-block-text gothic-neo pt-1 text-white tracking-wide w-40 text-sm">Add New Time Block</span>
      </button>
    </div>
  </form>
</section>
<%= render 'partials/toolbar' %>