<%= render 'partials/errors', obj: @timesheet %>
<section class="timesheet-uuid container px-4 sm:px-10" id="<%= @timesheet.uuid %>">
  <div class="inline-flex w-full">
    <h1 id="date" class="helvetica font-light italic px-8 py-8 text-gray-600 text-3xl tracking-wide w-2/3"><%= @timesheet.date %></h1>
    <span class="form-status text-gray-500 tracking-wide gothic-neo py-8 w-1/3"></span>
  </div>
  <h2 class="helvetica px-8 text-gray-700 text-lg italic font-light tracking-wide">What are you going to do today?</h2>
  <form id="timesheet" class="flex" data-remote="true">
    <div class="sm:w-1/3 current-column time-column" id="timecolumn-1">
      <%= render 'partials/timeblock' %>
      <button class="flex ml-8 mt-8 mb-32 w-48 relative" id="add-block-button">
        <div class="bg-gray-400 h-8 relative w-8" id="plus-sign"></div>
        <span class="absolute gothic-neo right-0 text-sm text-white tracking-wide w-40" style="top: 15%;">Add New Time Block</span>
      </button>
    </div>
  </form>
</section>
<%= render 'partials/toolbar' %>

<% content_for :javascripts do %>
<script>
  //Time Block Init
  $(".time-block .time-init").val("" + current_time + "");
  $(".time-block .time-last-init").attr("placeholder", "XX:XX");
</script>
<% end %>